<h2 class="title">Welcome user</h2>
<div [formGroup]="form" class="container-fluid" style="margin-top: 20px; border-top: 1px solid rgb(185, 184, 184);border-bottom: 1px solid rgb(185, 184, 184)">
  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <label for="business">Line Of Business :</label>
    </div>
    <div class="col-xs-12 col-sm-4">
      <select id="business" class="form-control" (change)='onLOBSelect($event)' formControlName="lob">
        <option *ngFor="let element of (lobValues$ | async)" [value]="element">
          {{element}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <label for="agency">Agency :</label>
    </div>
    <div class="col-xs-12 col-sm-4">
      <select id="agency" class="form-control" (change)='onAgencySelect($event)' formControlName="agency">
        <option *ngFor="let element of (agencies$ | async)" [value]="element">
          {{element}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <label for="template">Template :</label>
    </div>
    <div class="col-xs-12 col-sm-4">
      <select id="template" class="form-control" (change)='onTemplateSelect($event)' formControlName="template">
        <option *ngFor="let element of (templates$ | async)" [value]="element">
          {{element}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <label for="templateV">Template Version :</label>
    </div>
    <div class="col-xs-12 col-sm-4">
      <input list="browsers" id="templateV" class="form-control" formControlName="version">
      <datalist id="browsers">
        <option *ngFor='let element of (versions$ | async)' value="{{element}}">
      </datalist>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-2" style="text-align: left">
      <input type='button' class="btn btn-primary" (click)="getTemplate()" [disabled]='form.get("version").value==""' value='Load Template'/>
    </div>
  </div>
</div>