<div class="row" [formGroup]='category'>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <input type="text" formControlName="name" />
            <input type="text" formControlName="categoryId" />
            <a data-toggle="collapse" data-parent="#accordion" href="#{{categoryIndex}}">
                down
            </a>
        </div>
    </div>

    <div class="col-xs-11 col-xs-offset-1" cdkDropList (cdkDropListDropped)="drop($event)">
        <div id="{{categoryIndex}}" class="panel-collapse collapse in">
            <div cdkDrag cdkDragLockAxis="y" *ngFor="let field of category.controls.fields?.controls; let i = index">
                <div class="pull-right">
                    <i class="fa fa-plus-circle" aria-hidden="true" (click)="addCategory(i)"></i>
                    <i class="fa fa-trash" aria-hidden="true" (click)="deleteCategory(i)"></i>
                    <i class="fa fa-arrow-circle-up" aria-hidden="true" (click)="moveFieldUp(i)"></i>
                    <i class="fa fa-arrow-circle-down" aria-hidden="true" (click)="moveFieldDown(i)"></i>
                </div>
                <div class="panel-body">
                    <category-field [field]="field"></category-field>
                </div>
            </div>
        </div>
    </div>
</div>