<div class="row" [formGroup]='category'>
    <div class="panel-group" id="accordion" [ngStyle]="{'border-bottom' : clicked ? '1px solid' : ''}">
        <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#accordion" href="#{{categoryIndex}}" style="margin-right:10px">
                <i [ngClass]="clicked ? 'fa fa-caret-down' : 'fa fa-caret-right'" aria-hidden="true" (click)="categoryClicked()"></i>
            </a>
            <input type="text" formControlName="name" />
            <input type="text" formControlName="categoryId" />
        </div>
    </div>

    <div class="col-xs-7 col-xs-offset-1" style="margin-bottom: 10px" cdkDropList (cdkDropListDropped)="drop($event)">
        <div id="{{categoryIndex}}" class="panel-collapse collapse">
            <div cdkDrag cdkDragLockAxis="y" *ngFor="let field of category.controls['fields']?.controls; let i = index">
                <div class="pull-right">
                    <i class="fa fa-plus-circle" aria-hidden="true" (click)="addField(i)"></i>
                    <i class="fa fa-trash" aria-hidden="true" (click)="deleteField(i)"></i>
                </div>
                <div class="panel-body">
                    <category-field [field]="field"></category-field>
                </div>
            </div>
        </div>
    </div>
</div>