<div class="container-fluid"style="margin-bottom:20px">
  <app-header></app-header>
  <div style="text-align: center;margin: 25px">
    <h2>Loaded Template : [template name]</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12" cdkDropList (cdkDropListDropped)="drop($event)">
        <div cdkDrag cdkDragLockAxis="y" *ngFor="let category of ediForm?.controls['categories']?.controls; let i = index">
          <div class="pull-right">
            <i class="fa fa-plus-circle" title="Add Category" aria-hidden="true" (click)="addCategory(i)"></i>
            <i class="fa fa-trash" aria-hidden="true" title="Delete Category" (click)="deleteCategory(i)"></i>
          </div>
          <app-category [category]="category" [categoryIndex]='i'></app-category>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:10px">
      <div class="col-xs-offset-9 col-xs-1">
        <button class="btn btn-primary">Save</button>
      </div>
      <div class="col-xs-1">
          <button class="btn btn-primary">Cancel</button>
        </div>
    </div>
  </div>