i {
    padding-left:3px;
    font-size:2rem;
    color:white;
}
.footer {
    margin-bottom: 15px;
}
.pull-right {
    margin-top: 15px;
}
.modal-body{
    height:500px;
    overflow:scroll;
    overflow-x: hidden;
}